body {
	background-image: url("assets/eoa-arial-img.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	resize: both;
	height: 100vh;
	color: #6d6d6f;
	font-size: 0.95rem;
	background-color: #444630;
}
.site-wrapper {
	padding-bottom: 50px;
	max-width: 800px;
}
.profile-img {
	max-width: 175px;
}
@media (max-width: 768px) {
	.site-wrapper {
    	padding-bottom: 90px;
	}
	.profile-img {
		max-width: 150px;
	}
}
@media (max-width: 480px) {
	.desktop {
		display: none;
	}
	.mobile {
		display: block;
		margin-top: 20px;
	}
}
@media (min-width: 481px) {
	.mobile {
		display: none;
	}
}
.site-cards {
	box-shadow: 0px 0px 5px #444;
	padding: 15px;
	margin-top: 20px;
}
.logo-wrapper {
	max-width: 200px;
	margin: auto;
}
a {
	color: #16bbe4;
}
.card-link:hover,
a:hover {
	color: #31bdc6;
	text-decoration: underline;
}
.btn-primary {
	color: #fff;
	background-color: #16bbe4;
	border-color: #16bbe4;
}
.btn-primary:hover {
	background-color: #31bdc6;
	border-color: #31bdc6;
}
.card-title {
	color: #16bbe4;
}
.form-control {
	color: #6d6d6f;
}
.footer-wrapper {
	max-width: 800px;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.8rem;
    color: #fff;
    background: rgba(0, 0, 0, 0.6); 
}
dl, ol, ul {
    margin-left: -20px;
}